.login-container {
  margin: 0 auto;
  width: 400px;
  height: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10em;
  padding: 3em 3em;
}
input {
  padding: 6px 6px;
  width: 300px;
  border-radius: 5px;
  border: 0.5px solid black;
}
